
.block-iframe {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  > div {
    flex: none;
    background: #373737;

    padding: 10px;
    font-size: 20px;
    font-weight: bold;

    span {
      float: right;
    }
  }

  > iframe {
    flex: 1;
    width: 100%;
    background: white;
    border: none;
  }
}