@import "../../lib/bootstrap/scss/variables";

.module {
  position: relative;
  width: 350px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  background: lighten($black, 12);

  .module-header {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    white-space: nowrap;
    font-size: 1.3em;
    font-weight: bold;

    span {
      margin-right: 20px;
      vertical-align: middle;
    }
  }

  .module-body {
    position: absolute;
    top: 50px;
    bottom: 10px;
    width: 100%;
    overflow: hidden;

    .module-leave {
      display: none;
    }

    .module-enter {
      opacity: 0;

      &.module-enter-active {
        opacity: 1;
        transition: opacity 300ms ease-in-out;
      }
    }
  }
}