.module {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 200px;
  background: #1f1f1f; }
  .module .module-header {
    flex: none;
    padding: 5px;
    white-space: nowrap;
    font-size: 1.3em;
    font-weight: bold; }
    .module .module-header span {
      margin-right: 20px;
      vertical-align: middle; }
  .module .module-body {
    flex: 1;
    overflow: hidden; }
    .module .module-body .module-leave {
      display: none; }
    .module .module-body .module-enter {
      opacity: 0; }
      .module .module-body .module-enter.module-enter-active {
        opacity: 1;
        transition: opacity 300ms ease-in-out; }
